[Unit]
After=network.service
StartLimitIntervalSec=1d

[Service]
Type=simple
ExecStart={DIRECTORY}/bin/python {DIRECTORY}/main.py {DIRECTORY} 
Restart=on-failure
RestartSec=30
StartLimitBurst=5
TimeoutStartSec=infinity

[Install]
WantedBy=default.target
