[Unit]
After=network.service
StartLimitIntervalSec=1d

[Service]
Type=simple
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/ubuntu/mousebot/venv/bin/python -u /home/ubuntu/mousebot/tfm_bot.py /home/ubuntu/mousebot 
Restart=always
RestartSec=60
StartLimitBurst=10
TimeoutStartSec=infinity

StandardOutput=append:/var/log/mousebot/output.log
StandardError=append:/var/log/mousebot/output.log

[Install]
WantedBy=default.target
